
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.env
.env.*

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

.vscode/

.DS_Store

node_modules/
dist/
build/

venv/
.env/
*.egg-info/

*.log
*.tmp

*.pyc

.coverage
htmlcov/

.idea/
