    /*
    COLOR SCHEME HEX CODES:
      raisin black: #202030
      English Violet: #39304A
      Walnut Brown: #635C51
      Beaver: #958975
      Celadon(Green): #B4CEB3

    */
    
    
    
    
    body {
      background-color: #202030;
      color: #B4CEB3;
      font-family: Arial, sans-serif;
      

      flex-direction: column;
      margin: 0;
      padding: 0px;
    }

    header {
      text-align: center;
      font-size: 30px;
    }

    /*=======================
            NAV BAR CSS
    =========================*/

    .nav-bar {
      align-self: stretch;
      text-align: center;
      font-size: 25px;
      width: 100%; 
      align-items: center;
    }

    .nav-bar ul {
      list-style-type: none;
      margin: 0;
      padding: 15px;
      display: flex;
      background-color: #5C5447;
      width: 100%;
    }
    .nav-bar a {
      color: #D6FFF6;
      margin-left: 100%;

    }
    .nav-bar a:visited {
      color: #D6FFF6

    }
    .nav-bar a:hover {
      color: #D6FFF6

    }
    .nav-bar li {
      margin-right: 15%;
    }

    /*=======================
            MAIN
    =========================*/



    main {
      display: flex;
      gap: 20px;
      width: 90%;
    }

    
    section {
      border: 2px solid #202030;
      padding: 10px;
    }

    /* Left area */
    .left {
        flex:2; 
        display:flex; 
        flex-direction:column; 
        gap:10px;
    }
    .game-area {
      background: #B4CEB3;
      color: #202030;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .log {
      background: #39304A;
      color: white;
      font-family: monospace;
      height: 300px;        
      padding: 10px;
      border: 2px solid black;

      /* scrolling */
      overflow-y: auto;     
      overflow-x: hidden;   /* prevents scrolling sideways */
    }


    /* Task list and player inventory */
    .right {
      color: #202030;
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
    }

    .tasks {
      
      background: #B0A990;
      /* scrolling  */
      overflow-y: auto;     
      overflow-x: hidden; 
    }

    .stats {
      background: #B4CEB3;
    }

    a {
      padding: 30px;
      color: #958A75;
      text-decoration: none;
    }
    a:visited {
      padding: 30px;
      color: #958A75;
      text-decoration: none;
    }